@font-face {
  font-family: Digital7Mono-Yz9J4;
  src: url(font/Digital7Mono-Yz9J4.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #10202efc;
  font-family: Digital7Mono-Yz9J4;
  display: flex;
  /* width: 440px; */
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.title {
  margin-bottom: 20px;
  font-size: 30px;
  color: #fff;
  text-align: center;
  /* border-bottom: 2px solid white; */
}

.main {
  outline: 2px solid #188266;
}

button {
  font-family: inherit;
  font-weight: bold;
  font-size: 17px;
  background-color: black;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  margin: 10px 5px;
  cursor: pointer;
}

#buttons {
  width: 350px;
  /* outline: 1px solid red; */
}
button:hover {
  background-color: #10202efc;
}
.row.middle {
  display: grid;
  grid-template-columns: 150px 121px 79px;
  grid-template-rows: 66px;
  /* justify-content: space-between; */
}
.row {
  display: grid;
  grid-template-columns: 91px 90px 90px 79px;
  grid-template-rows: 70px;
}
.row.rw4 {
  display: grid;
  grid-template-columns: 150px 90px 110px;
  /* grid-template-rows: 70px; */
}

.operator-btn,
button#equal {
  background-color: #188266;
}

#screen {
  width: 350px;
  word-wrap: break-word;
  font-weight: bolder;
}
#current {
  border-bottom: 1px solid white;
  margin-bottom: 10px;
}
#previous {
  background-color: #188266;
}

.mini-screen {
  font-family: Digital7Mono-Yz9J4;
  font-size: 20px;
  border: none;
  color: white;
  height: 80px;
  margin: 2px;
  padding: 15px 30px;
}
