@font-face {
  font-family: Digital7Mono-Yz9J4;
  src: url(font/Digital7Mono-Yz9J4.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #10202efc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-wrap: wrap;
  font-family: Digital7Mono-Yz9J4;
}

.title {
  margin-bottom: 20px;
  font-size: 30px;
  color: #fff;
  border-bottom: 2px solid white;
}

.main {
  outline: 2px solid #188266;
  padding: 20px;
}

.middle {
  display: flex;
  justify-content: space-around;
}
button {
  font-family: inherit;
  font-weight: normal;
  font-size: 17px;
  background-color: black;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px 5px;
  padding: 15px 32px;
  cursor: pointer;
}
button:hover {
  background-color: #10202efc;
}
#buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5px;
}
.operator-btn {
  background-color: #188266;
}
button#equal {
  background-color: #188266;
  width: 169px;
}

#screen {
  width: 350px;
  word-wrap: break-word;
  font-weight: bolder;
}
#current {
  border-bottom: 1px solid white;
  margin-bottom: 10px;
}
#previous {
  background-color: #188266;
}

.mini-screen {
  font-family: Digital7Mono-Yz9J4;
  font-size: 20px;
  border: none;
  color: white;
  height: 80px;
  margin: 2px;
  padding: 15px 30px;
}

@media only screen and (max-device-width: 700px) {
  /* * {
     outline: 1px solid red; 
  }   */
  body {
    width: 100vw;
    min-height: 80vh;
  }
  .title {
    margin-bottom: 15px;
    font-size: 20px;
  }
  .main {
    outline: none;
    padding: 0;
    width: 350px;
  }
  #buttons {
    display: block;
    margin: 0;
  }
  button {
    padding: 10px 35px;
    margin: 5px 2px;
    font-weight: normal;
  }
  #buttons {
    margin: 0;
  }
  .row {
    height: 60px;
    display: flex;
    width: 350px;
    justify-content: space-between;
  }
}
